!!!XML5
%html
  %head
    %title Digital Signage
    %script{:type => 'text/javascript', :src => "js/jquery.js"}
    %script{:type => 'text/javascript', :src => "js/g_storage.js"}
    %link{:rel =>"STYLESHEET",:href=>"index.css" ,:type=>"text/css"}
  %body
    %divs
    %ul
      %li{:id=>'chat0'}
      %li{:id=>'chat1'}
      %li{:id=>'chat2'}
      %li{:id=>'chat3'}
      %li{:id=>'chat4'}

